@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */



* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}


/* shared styles */

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.primary-color {
    color: #FF900E;
}

.secondary-color {
    background: rgba(255, 144, 14, 0.1);
    ;
}

.flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    border: none;
    cursor: pointer;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* -------------------- */

/* navbar */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.nav-item {
    list-style: none;
    margin-left: 70px;
}

.nav-item .nav-link {
    text-decoration: none;
}

.nav-item a {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
}

/* header / Hero  */

header {
    padding: 3.1rem 15rem 2.8rem;
    background: rgba(255, 144, 14, 0.1);
}

.header-content {
    margin: 6.3rem 18rem 3.1rem;
    text-align: center;
}

.header-caption {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
}

.header-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 33px 0;
}

.header-img {
    width: 100%;
}



/* main section */


.teams {
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    padding: 3.8rem;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.team-title .first-two-word {
    font-weight: 500;
}

.team-description {
    margin: 1.5rem 0 2rem;
}


/* features section */

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9.1rem;
    margin: 70px 0 130px;
}

.feature-section-title {
    border-left: 5px solid #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
    padding-left: 1.6rem;
}

.feature-section-description {
    line-height: 26px;
    margin: 1.5rem 0 1.9rem;
}

.feature-item {
    padding: 1.9rem;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.2rem;
}

.feature-title {
    margin-bottom: 0.6rem;
}

.feature-banner{
    position: relative;
}


.experience-badge {
    padding: 2.9rem 2.6rem;
    position: absolute;
    left: -92px;
    bottom: -77px;
}

#experience-year {
    font-size: 4.1rem;
    font-weight: 700;
    line-height: 70px;
}

#experience {
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}


/* Facts section */

.fact-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.fact-description {
    font-size: 1rem;
    line-height: 26px;
    margin: 1.5rem 0 6.2rem;
    width: 33.8rem;

}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    text-align: center;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 53px;
    align-items: center;
}

.fact-item-title {
    align-items: center;
}




/* Our sponsors section */

.our-sponsors {
    margin: 11.2rem 0 8.1rem;
}

.sponsors-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-sponsors .header {
    text-align: center;
    width: 32rem;
    margin-bottom: 3.1rem;
}

.sponsors-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    margin: 0 0 24px 0;
}

.our-sponsors .sponsors-companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-sponsors .sponsors-companies img {
    filter: grayscale(100%);
}

.our-sponsors .sponsors-companies img:hover {
    filter: grayscale(0);
    transition: 0.5s;
}


/* Footer */

footer {
    background-color: #FFF4E7;
    border-radius: 8px;
}

footer p {
    font-size: 1.2rem;
    line-height: 23px;
    text-align: center;
    padding: 2.3rem 25.6rem;

}



/* responsive */

@media screen and (max-width: 576px) {



    /* nevbar and header */
    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .nav-item {
        margin: 1rem 0;
    }

    header {
        padding: 1.1rem;
    }

    .header-content {
        margin: 2.3rem 1.1rem 3.1rem;
    }



    /* Quick list */
    .teams {
        flex-direction: column;
        padding: 1.1rem;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }


    /* features section */
    .features{
        flex-direction: column;
        padding: 20px;
        margin: 30px 0 40px;
        gap: 50px;

    }

    .feature-banner img{ 
        width: 100%;
    }

    .experience-badge{
        display: none;
    }

    /* Facts section */
    .fact-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .fact-card {
        width: 100%;
    }

    .fact-description {
        width: 100%;
    }

    .some-facts {
        padding: 1.1rem;
    }



    /* sponsors section */
    .our-sponsors .sponsors-companies {
        flex-direction: column;
        gap: 2rem;
    }

    .our-sponsors {
        margin: 5rem 0;
        padding: 1.2rem;
    }

    /* footer section */
    footer p {
        padding: 1.1rem;
    }

}





/* for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-img-container img {
        width: 100%;
    }
}