@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */



* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}


/* shared styles */

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.primary-color {
    color: #FF900E;
}

.secondary-color {
    background: rgba(255, 144, 14, 0.1);
    ;
}

.flex {
    display: flex;
}

.btn-primary {
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    border: none;
    cursor: pointer;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* -------------------- */

/* navbar */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.brand-name {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.nav-item {
    list-style: none;
    margin-left: 70px;
}

.nav-item .nav-link {
    text-decoration: none;
}

.nav-item a {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
}

/* header / Hero  */

header {
    padding: 3.1rem 15rem 2.8rem;
    background: rgba(255, 144, 14, 0.1);
}

.header-content {
    margin: 6.3rem 18rem 3.1rem;
    text-align: center;
}

.header-caption {
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
}

.header-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 33px 0;
}

.header-img {
    width: 100%;
}



/* responsive design */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-links {
        flex-direction: column;
    }

    .nav-item {
        margin: 1rem 0;
    }

    header {
        padding: 1.1rem;
    }

    .header-content {
        margin: 2.3rem 1.1rem 3.1rem;
    }
}


/* main section */


.teams{
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    padding: 3.8rem;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}

.team-title .first-two-word{
    font-weight: 500;
}

.team-description{
    margin: 1.5rem 0 2rem;
}