@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */



*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Work Sans", sans-serif;
}


/* shared styles */

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.primary-color{
    color: #FF900E;
}

/* -------------------- */


